<h1>This is home page.</h1>

<% @projects.each do |project|%>
	<div class="project_wrapper">
		<h2 class="title"> <%= project.title %> </h2>
		<p class="description"> <%= project.description %> </p>
		<p class="date"> <%= project.created_at.strftime("%B, %d, %Y") %> </p>
		<p>	<%= link_to "Read more...", project%></p>
	</div>
<% end %>


<%= link_to "New Project", new_project_path %>
<%= link_to "New User", new_user_path %>